@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(21.11% 0.013 285.88);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(21.11% 0.013 285.88);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(21.11% 0.013 285.88);
  --primary: oklch(45.58% 0.089 196.07);
  --primary-foreground: oklch(97.69% 0.052 12.28);
  --secondary: oklch(96.21% 0.005 285.88);
  --secondary-foreground: oklch(26.48% 0.008 285.88);
  --muted: oklch(96.21% 0.005 285.88);
  --muted-foreground: oklch(59.17% 0.005 285.88);
  --accent: oklch(96.21% 0.005 285.88);
  --accent-foreground: oklch(26.48% 0.008 285.88);
  --destructive: oklch(62.8% 0.228 27.33);
  --destructive-foreground: oklch(98.31% 0 0);
  --border: oklch(90.69% 0.006 285.88);
  --input: oklch(90.69% 0.006 285.88);
  --ring: oklch(52.46% 0.175 155.41);
  --radius: 0.625rem;
  --chart-1: oklch(68.36% 0.154 40.76);
  --chart-2: oklch(54.12% 0.089 196.07);
  --chart-3: oklch(40.59% 0.056 230.69);
  --chart-4: oklch(76.85% 0.122 92.17);
  --chart-5: oklch(74.84% 0.147 56.36);
  --sidebar-background: oklch(98.31% 0 0);
  --sidebar-foreground: oklch(43.76% 0.007 285.88);
  --sidebar-primary: oklch(26.48% 0.008 285.88);
  --sidebar-primary-foreground: oklch(98.31% 0 0);
  --sidebar-accent: oklch(96.21% 0.005 285.88);
  --sidebar-accent-foreground: oklch(26.48% 0.008 285.88);
  --sidebar-border: oklch(91.69% 0.013 264.05);
  --sidebar-ring: oklch(64.75% 0.183 263.81);
  --sidebar: oklch(98.31% 0 0);
}

.dark {
  --background: oklch(22.61% 0.016 49.25);
  --foreground: oklch(95.36% 0 0);
  --card: oklch(27.84% 0.011 54.71);
  --card-foreground: oklch(95.36% 0 0);
  --popover: oklch(25.42% 0 0);
  --popover-foreground: oklch(95.36% 0 0);
  --primary: oklch(45.58% 0.089 196.07);
  --primary-foreground: oklch(30.66% 0.126 163.11);
  --secondary: oklch(33.24% 0.004 285.88);
  --secondary-foreground: oklch(98.31% 0 0);
  --muted: oklch(32.56% 0 0);
  --muted-foreground: oklch(68.92% 0.006 285.88);
  --accent: oklch(32.82% 0.007 40.76);
  --accent-foreground: oklch(98.31% 0 0);
  --destructive: oklch(45.97% 0.134 29.23);
  --destructive-foreground: oklch(97.61% 0.046 29.23);
  --border: oklch(33.24% 0.004 285.88);
  --input: oklch(33.24% 0.004 285.88);
  --ring: oklch(43.25% 0.131 155.24);
  --chart-1: oklch(59.1% 0.154 264.05);
  --chart-2: oklch(56.78% 0.099 175.69);
  --chart-3: oklch(68.18% 0.15 70.8);
  --chart-4: oklch(68.52% 0.14 307.73);
  --chart-5: oklch(64.91% 0.177 3.14);
  --sidebar-background: oklch(26.48% 0.008 285.88);
  --sidebar-foreground: oklch(96.21% 0.005 285.88);
  --sidebar-primary: oklch(56.49% 0.155 264.39);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(33.24% 0.004 285.88);
  --sidebar-accent-foreground: oklch(96.21% 0.005 285.88);
  --sidebar-border: oklch(33.24% 0.004 285.88);
  --sidebar-ring: oklch(64.75% 0.183 263.81);
  --sidebar: oklch(26.48% 0.008 285.88);
}

@theme inline {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility touch-hitbox {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-height: 44px;
    min-width: 44px;
    z-index: 9999;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
